{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<button id="burger-btn" class="burger">☰</button>

<div id="puzzle-drawer" class="drawer">
  <h3>Choisir un puzzle précédent</h3>
  <ul id="puzzle-list"></ul>
</div>

<div class="enclose-page">

  <header class="enclose-header">
    <h1>Pâturage</h1>
    <p class="subtitle">Laissez brouter le cheval avec un nombre limité de murs</p>
    <p class="puzzle-date"><b><u>{{ puzzle_name }}</u></b> (puzzle du {{ puzzle_date|date:"d/m/Y" }})</p>
  </header>

  <main class="enclose-layout">

    <aside class="side-panel left">
      <section class="leaderboard">
      <h3>Classement</h3>

      <div id="leaderboard-container">

        <p id="no-score-message">
          Aucun score pour ce puzzle
        </p>

        <ol id="classement" class="leaderboard hidden">
          <!-- Les entrées du classement seront insérées ici dynamiquement -->
        </ol>

      </div>
    </section>
    </aside>

    <section class="board-wrapper">
      <canvas id="board"></canvas>
    </section>

    <aside class="side-panel right">
      <div class="stat">Aire : <span id="area">N/A</span></div>
      <div class="stat">Murs restants : <span id="walls-left"></span></div>

      <button id="submit-btn">Valider</button>
    </aside>

  </main>

</div>

<script>
  window.PUZZLE = {{ puzzle_json|safe }};
  window.SAVED_WALLS = {{ saved_walls|safe }};
  window.GAME_LOCKED = {{ locked|yesno:"true,false" }};
  window.LEADERBOARD = {{ leaderboard_json|safe }};

  window.HORSE_SPRITE_URL = "{% static 'enclose/img/horse.png' %}";
  window.TILES = {
    grass: "{% static 'enclose/img/grass.png' %}",
    water: "{% static 'enclose/img/water.png' %}",
    field: "{% static 'enclose/img/field.png' %}",
    wall: "{% static 'enclose/img/wall.png' %}",
  };


</script>
<script src="{% static 'enclose/enclose.js' %}"></script>
<link rel="stylesheet" href="{% static 'enclose/enclose.css' %}">