
{% extends "base.html" %}
{% block page_content %}
<title>Satom n°{{challenge.pk}}</title>
<h1>Mot n°{{ challenge.pk }} : {{answer}} </h1> {{linebreaks}}
<h2>Longueur du mot : {{longueur}} lettres</h2>
<br>

<div class="container">

  {% for attempt in attempts %}
    <div class="row" style="width: 60vw">
  {% for letter in attempt %}
            <div class="col-1" align="center">
          <h8><font color="{{letter.color}}" ><strong><p>{{ letter.letter }}</p></strong></font></h8>
            </div>
      {% endfor %}
    </div>
  {% endfor %}



<br>
{% if state == "win" %}
<h1> Félicitations, vous avez deviné le mot n°{{ challenge.pk }} en {{ time_spent }}</h1>
<div class = "row" style="width: 100vw">
    {% if lastWord == False %}
    <button onclick="location.href='../{{ challenge.pk|add:'1'  }}'" class="btn" style="width: 20vh">Mot suivant</button>
    &nbsp; &nbsp; &nbsp; &nbsp;
    {% endif %}
    <button onclick="myFunction()" class="btn" style="width: 20vh">Partager votre score</button>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <button onclick="location.href='https://1mot.net/{{challenge.word}}'" class="btn" style="width: 20vh">Définition du mot</button>
    </div>
<br>
{% elif state == "lose" %}
<h1> Malheureusement vous n'avez pas trouvé le mot n°{{ challenge.pk }} et vous n'aurez pas la solution 😈</h1>

{% elif alreadyCompleted == False %}
<form action="" method="GET">
        {% csrf_token %}
        <div class="form-group">
            {{ form.guess }}

        </div>
        <button type="submit" class="btn btn-primary">Valider</button>

    <br>

</form>
<br>
<div style="width:40vh" >
{% for row in lettresDispo %}

<div class="row justify-content-center">
{% for lettre in row %}
    <h9>
        &nbsp; <font color="{{lettre.color}}"><strong>{{ lettre.letter }}</strong></font>
        </h9>
{% endfor %}
</div>
<br>

{% endfor %}
    </div>
{% else %}

<h1> Vous avez déjà résolu le mot n°{{ challenge.pk }}</h1>
<div class = "row">
    {% if lastWord == False %}
    <button onclick="location.href='../{{ challenge.pk|add:'1'  }}'" class="btn">Mot suivant</button>
    &nbsp; &nbsp; &nbsp; &nbsp;
    {% endif %}
    <button onclick="location.href='https://1mot.net/{{challenge.word}}'" class="btn">Définition du mot</button>
</div>
{% endif %}
</div>

    <br>
<script>
function myFunction() {
  navigator.clipboard.writeText("{{clipboard}}");
  alert("Résultat collé dans le presse-papiers");
}
</script>
{% endblock %}

