
{% extends "base.html" %}



{% block page_content %}
<title>Mots</title>
<h1>Bienvenue sur le jeu du satom !!</h1> <br>

{% if latest.1 == "done" %}
    <a href="{% url 'challenge' latest.0 %}" class="btn btn-primary done-btn" style="width: 15vh">Mot du jour</a><br>&nbsp;
{% else %}
    <a href="{% url 'challenge' latest.0 %}" class="btn btn-primary" style="width: 15vh">Mot du jour</a><br>&nbsp;
{% endif %}

<u><h2>Historique des mots</h2></u>
<br>
<div class="container" >
{% for dizaine in buttons %}
<div class="row" >
{% for button in dizaine %}
    {% if button.1 == "done" %}
        <a href="{% url 'challenge' button.0 %}" class="btn btn-primary done-btn" style="width: 5vh">{{ button.0 }}</a> &nbsp; &nbsp;
    {% else %}
        <a href="{% url 'challenge' button.0 %}" class="btn btn-primary" style="width: 5vh">{{ button.0 }}</a> &nbsp; &nbsp;
    {% endif %}

{% endfor %}
</div>
<br>
{% endfor %}
    </div>
{% endblock %}



