{% extends 'base.html' %}

{% block page_content %}
<title>Mon compte</title>
<div class="container" >
<div class="row">Bonjour,&nbsp; <strong>{{ user.username|default:'Invité' }}</strong>!</div>

    {% if user.is_authenticated %}
       <div class="row"> <a href="{% url 'logout' %}">Déconnexion</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'password_change' %}">Modifier le mot de passe</a> </div>
    <br>
    <div class="row"><p><strong> Historique des mots : </strong></p></div>
    {% for word in words %}
        <div class="row">
            Mot n°{{ word.0 }} réussi en {{ word.2 }} essais et en {{ word.1.0 }}
            </div>
    {% endfor %}
    <br>
    <div class="row">
        <strong>Nombre d'essais moyen : {{ avg_try }}</strong>
    </div>
    <div class="row">
        <strong>Temps moyen : {{ avg_time }} secondes</strong>
    </div>
    {% else %}
        <div class="row"><a href="{% url 'login' %}">Connexion</a> &nbsp;&nbsp;&nbsp;
        <a href="{% url 'register' %}">S'inscrire</a> </div>
    {% endif %}
</div>
{% endblock %}
