
{% extends "base.html" %}
{% block page_content %}
<title>Satom</title>
<body>
<br>
{% load static %}
<a href="satom/{{daily}}"><img src={% static "peepoTh2.png" %} alt="peepoG" style="width: 40vh"/></a> &nbsp; &nbsp; &nbsp;

<br>
<br>
Vous êtes un nouvel utilisateur ? Consultez les <a href="rules">règles du SATOM</a> ou tentez directement le <a href="satom/{{daily}}">mot du jour</a> !
<br>
<br>
<br>
<h2>Félicitations au roi du SATOM du jour : <br/>
    {{ roi.king }} a terminé le mot n°{{ roi.challengeID}} en {{ time }} ! ({{ roi.tries }} essais)</h2>

<img src="{% static '/' %}{{ peepo_roi }}.png" alt="{{ peepo_roi }}" style="width: 26vh"/>
</body>
{% endblock %}
