
{% extends "base.html" %}
{% block page_content %}
<title>Thomas Gubeno</title>
<body>
<br>
{% load static %}
<a href="satom/{{daily}}"><img src={% static "peepoTh.png" %} alt="peepoG" style="width: 30vh"/></a> &nbsp; &nbsp; &nbsp; <( Merci à vous de soutenir le SATOM ! ❤️  )

<br>
<br>
<br>
<br>
<h2>Félicitations au roi du SATOM du jour : <br/>
    {{ roi.king }} a terminé le mot n°{{ roi.challengeID}} en {{ time }} ! ({{ roi.tries }} essais)</h2>

{% if roi.king.user.username == "ManonCuisson" %}

<img src={% static "peepoM.png" %} alt="peepoF" style="width: 20vh"/>

{% elif roi.king.user.username == "Gubourdon" %}

<img src={% static "peepoL.png" %} alt="peepoL" style="width: 20vh"/>

{% elif roi.king.user.username == "Fannouille" %}

<img src={% static "peepoF2.png" %} alt="peepoF2" style="width: 20vh"/>

{% else %}

<img src={% static "peepoR2.png" %} alt="peepoR2" style="width: 20vh"/>

{% endif %}
</body>
{% endblock %}
